In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime
import matplotlib.pyplot as plt
import numpy as np

In [2]:
engine = create_engine("sqlite:///data/hashtag2020.db", echo=True)
conn = engine.connect()

2021-02-06 14:01:32,752 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-06 14:01:32,755 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 14:01:32,755 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-06 14:01:32,756 INFO sqlalchemy.engine.base.Engine ()

In [3]:
#Create the table. If we use automap_base, the table must have a primary key
conn.execute("""
    CREATE TABLE IF NOT EXISTS tweet_counts (
        id integer PRIMARY KEY, 
        tweet VARCHAR(280),
        likes integer,
        retweet_count integer,
        source VARCHAR(30),
        lat integer,
        long integer,
        city VARCHAR(100),
        state_code VARCHAR(5),
        hashtag VARCHAR(10),
        Date TEXT,
        Time TEXT
    )
""")

2021-02-06 14:01:32,762 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS tweet_counts (
        id integer PRIMARY KEY,
        tweet VARCHAR(280),
        likes integer,
        retweet_count integer,
        source VARCHAR(30),
        lat integer,
        long integer,
        city VARCHAR(100),
        state_code VARCHAR(5),
        hashtag VARCHAR(10),
        Date TEXT,
        Time TEXT
    )

2021-02-06 14:01:32,763 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 14:01:32,768 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
trump_csv_path = "../hashtag_donaldtrump.csv"
biden_csv_path = "../hashtag_joebiden.csv"

In [5]:
trump_data_df = pd.read_csv(trump_csv_path, lineterminator='\n')
biden_data_df = pd.read_csv(biden_csv_path, lineterminator='\n')

In [6]:
trump_data_df["hashtag"]="Trump"
biden_data_df["hashtag"]="Biden"

In [7]:
tweet_df = pd.concat([trump_data_df, biden_data_df])

In [8]:
tweet_df["created_at"]=pd.to_datetime(tweet_df.created_at)

In [9]:
tweet_df.sort_values(by = 'created_at')

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_location,lat,long,city,country,continent,state,state_code,collected_at,hashtag
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00,Trump
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00,Biden
1,2020-10-15 00:00:01,1.316529e+18,"Usa 2020, Trump contro Facebook e Twitter: cop...",26.0,9.0,Social Mediaset,3.316176e+08,Tgcom24,MediasetTgcom24,Profilo ufficiale di Tgcom24: tutte le notizie...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.373216530,Trump
2,2020-10-15 00:00:02,1.316529e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8.436472e+06,snarke,snarke,"Will mock for food! Freelance writer, blogger,...",...,Portland,45.520247,-122.674195,Portland,United States of America,North America,Oregon,OR,2020-10-21 00:00:00.746433060,Trump
3,2020-10-15 00:00:02,1.316529e+18,2 hours since last tweet from #Trump! Maybe he...,0.0,0.0,Trumpytweeter,8.283556e+17,Trumpytweeter,trumpytweeter,"If he doesn't tweet for some time, should we b...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.119649591,Trump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970917,2020-11-08 23:59:54,1.325589e+18,"@sammelbis1998 @iheartmindy @bnorthg First, yo...",0.0,0.0,Twitter for iPad,7.687811e+08,Debra,drdeblk,MD. Autism specialist. Film lover. #DumpTrump2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-09 17:47:56.012674,Trump
970918,2020-11-08 23:59:55,1.325589e+18,OK just had to do it !\n#Trump #CatapultTrump ...,105.0,28.0,Twitter Web App,4.519791e+08,Dunken K Bliths,DunkenKBliths,"""Tesla owner's will be followed back""\n\n#Mach...",...,‚úî Official Twitter Account,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-09 17:47:55.807500,Trump
922910,2020-11-08 23:59:56,1.325589e+18,@nbcbayarea Who doesn‚Äôt like dogs or any kind ...,1.0,1.0,Twitter for iPhone,1.182639e+08,Dianna Maria,DiannaMaria,"~ I am a very proud mom of a sweet, kind and c...",...,United States,39.783730,-100.445882,NaN,United States,North America,NaN,NaN,2020-11-09 17:46:06.939099,Trump
737089,2020-11-08 23:59:57,1.325589e+18,#JoeBiden üòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇüòÇ https://t.co/Ym...,0.0,0.0,Twitter for iPhone,1.148479e+08,Nata≈°a,PewPeeew,My brain consists of coping mechanisms and vin...,...,Deutschland,51.083420,10.423447,NaN,Germany,Europe,NaN,NaN,2020-11-09 18:26:04.550843,Biden
776885,2020-11-08 23:59:58,1.325589e+18,"Ik moet zeggen dat ik #Biden ""the lesser of tw...",0.0,0.0,Twitter for Android,5.863863e+08,Job,_JobO__,-voeg hier uw interessante bio toe-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-09 18:32:45.747707,Biden

In [10]:
usa = {"United States of America" : "United States"}
tweet_df['country'].replace(usa, inplace=True)

In [11]:
clean_df = tweet_df.dropna(how='any')

In [12]:
clean_df = clean_df.loc[clean_df['country']== 'United States']

In [13]:
print("Count of duplicates: {}".format(clean_df.duplicated(subset=["tweet"]).sum()))

Count of duplicates: 21056

In [14]:
print("Original size of df: {}".format(len(clean_df)))
clean_df.drop_duplicates(subset=["tweet"], inplace=True, keep=False)
print("No duplicates size of df : {}".format(len(clean_df)))

Original size of df: 182384
No duplicates size of df : 141640

In [15]:
clean_df.reset_index(inplace=True)

In [16]:
clean_df['Date'] = clean_df['created_at'].dt.strftime('%m/%d/%Y')
clean_df['Time'] = clean_df['created_at'].dt.strftime('%H:%M:%S')

In [17]:
clean_df = clean_df.rename(columns = {'index': 'id'}, inplace = False)
clean_df.head()

,id,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,...,long,city,country,continent,state,state_code,collected_at,hashtag,Date,Time
0,2,2020-10-15 00:00:02,1.316529e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8.436472e+06,snarke,snarke,...,-122.674195,Portland,United States,North America,Oregon,OR,2020-10-21 00:00:00.746433060,Trump,10/15/2020,00:00:02
1,4,2020-10-15 00:00:08,1.316529e+18,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,Twitter for iPhone,4.741380e+07,Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±,Ranaabtar,...,-77.036558,Washington,United States,North America,District of Columbia,DC,2020-10-21 00:00:01.492866121,Trump,10/15/2020,00:00:08
2,12,2020-10-15 00:00:26,1.316529e+18,#Trump #PresidentTrump #Trump2020LandslideVict...,3.0,5.0,Twitter for Android,1.243315e+18,Ron Burgundy,Anchorman_USA,...,-117.162771,San Diego,United States,North America,California,CA,2020-10-21 00:00:04.478598364,Trump,10/15/2020,00:00:26
3,22,2020-10-15 00:01:14,1.316530e+18,"#Trump: Nobody likes to tell you this, but som...",1.0,1.0,Twitter Web App,8.436472e+06,snarke,snarke,...,-122.674195,Portland,United States,North America,Oregon,OR,2020-10-21 00:00:08.210763668,Trump,10/15/2020,00:01:14
4,29,2020-10-15 00:01:30,1.316530e+18,@karatblood @KazePlays_JC Grab @realDonaldTrum...,2.0,0.0,Twitter for iPhone,3.602439e+07,Baylee,bayleewashere,...,-87.686307,Chicago,United States,North America,Illinois,IL,2020-10-21 00:00:10.823279381,Trump,10/15/2020,00:01:30

In [18]:
clean_df = clean_df[['id', 'tweet', 'likes', 'retweet_count', 'source', 'lat', 'long', 'city','state_code','hashtag', 'Date', 'Time']]

In [19]:
clean_df = clean_df[['tweet', 'likes', 'retweet_count', 'source', 'lat', 'long', 'city','state_code','hashtag', 'Date', 'Time']]

In [20]:
clean_df.reset_index(inplace=True)

In [21]:
clean_df = clean_df.rename(columns = {'index': 'id'}, inplace = False)
clean_df.head()

,id,tweet,likes,retweet_count,source,lat,long,city,state_code,hashtag,Date,Time
0,0,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,45.520247,-122.674195,Portland,OR,Trump,10/15/2020,00:00:02
1,1,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,Twitter for iPhone,38.894992,-77.036558,Washington,DC,Trump,10/15/2020,00:00:08
2,2,#Trump #PresidentTrump #Trump2020LandslideVict...,3.0,5.0,Twitter for Android,32.717421,-117.162771,San Diego,CA,Trump,10/15/2020,00:00:26
3,3,"#Trump: Nobody likes to tell you this, but som...",1.0,1.0,Twitter Web App,45.520247,-122.674195,Portland,OR,Trump,10/15/2020,00:01:14
4,4,@karatblood @KazePlays_JC Grab @realDonaldTrum...,2.0,0.0,Twitter for iPhone,41.882823,-87.686307,Chicago,IL,Trump,10/15/2020,00:01:30

In [22]:
clean_df['id'].value_counts()

2047      1
34106     1
136552    1
44351     1
42302     1
         ..
125672    1
123625    1
129770    1
127723    1
0         1
Name: id, Length: 141640, dtype: int64

In [23]:
clean_df.to_sql("tweet_counts", conn, if_exists="append", index=False)

2021-02-06 14:01:53,827 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("tweet_counts")
2021-02-06 14:01:53,828 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 14:01:53,899 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-06 14:01:55,222 INFO sqlalchemy.engine.base.Engine INSERT INTO tweet_counts (id, tweet, likes, retweet_count, source, lat, long, city, state_code, hashtag, "Date", "Time") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-02-06 14:01:55,223 INFO sqlalchemy.engine.base.Engine ((0, "#Trump: As a student I used to hear for years, for ten years, I heard China! In 2019! And we have 1.5 and they don't know how many we have and I asked them how many do we have and they said 'sir we don't know.' But we have millions. Like 300 million.\n\nUm. What?", 2.0, 1.0, 'Twitter Web App', 45.5202471, -122.6741949, 'Portland', 'OR', 'Trump', '10/15/2020', '00:00:02'), (1, 'You get a tie! And you get a tie! #Trump ‚Äòs rally #Iowa https://t.co/jJalUUmh5D', 4.0, 3.0, 'Twitter for iPhone', 38.8949924, -77.0365581, 'Washington', 'DC', 'Trump', '10/15/2020', '00:00:08'), (2, '#Trump #PresidentTrump #Trump2020LandslideVictory #Trump2020 #MAGA #KAG #4MoreYears #America #AmericaFirst #AllLivesMatter #Winning #Vote #VoteInPerson #VoteTrump #VotePresidentTrump https://t.co/TzXBKOvgNs', 3.0, 5.0, 'Twitter for Android', 32.7174209, -117.1627714, 'San Diego', 'CA', 'Trump', '10/15/2020', '00:00:26'), (3, "#Trump: Nobody likes to tell you this, but some of the farmers were doing better the way I was doing it than they were by working their asses off.\n\nAnd that check? It's totally in the mail, right Don?", 1.0, 1.0, 'Twitter Web App', 45.5202471, -122.6741949, 'Portland', 'OR', 'Trump', '10/15/2020', '00:01:14'), (4, '@karatblood @KazePlays_JC Grab @realDonaldTrump by the balls &amp; chuck the bastard out the door onto #PennsylvaniaAvenue &amp; form a line &amp; everybody gets to kick #DonaldTrump in the nuts! Please note 1 kick per person only! #BidenHarrisToSaveAmerica #VoteBlueToSaveOurDemocracy', 2.0, 0.0, 'Twitter for iPhone', 41.8828229, -87.686307, 'Chicago', 'IL', 'Trump', '10/15/2020', '00:01:30'), (5, 'Who does #trump owe 420 million dollars to? What are the terms? Who is #DonaldTrump beholden to? WE DEMAND TO KNOW!\n#TrumpIsANationalSecurityRisk \n#FollowTheMoney \n#TrumpTaxCheat \n#TrumpTaxFraud', 1.0, 0.0, 'Twitter Web App', 41.87556160000001, -87.6244212, 'Chicago', 'IL', 'Trump', '10/15/2020', '00:01:44'), (6, '#TheWeek: "#Trump in Penn: "I saved suburbia. I got rid of a regulation that was a disaster and it was really unfair and it\'s gotten a lot worse und ... (5 characters truncated) ... ama and Biden. You damn well better vote for me Pennsylvania, you better vote." But he never did identify the \'regulation.\' https://t.co/7CX0PBJ2hA', 0.0, 0.0, 'Twitter Web App', 34.148398900000004, -118.3961877, 'Los Angeles', 'CA', 'Trump', '10/15/2020', '00:01:53'), (7, "#TheReidOut \n\nAm I suppose to feel badly for @OMAROSA? Isn't she the person who once claimed #Trump critics would have to bow at the feet of Donald? Sorry the snakes deserve one another. \n\n@JoyAnnReid", 2.0, 0.0, 'Twitter for Android', 38.8949924, -77.0365581, 'Washington', 'DC', 'Trump', '10/15/2020', '00:01:53')  ... displaying 10 of 141640 total bound parameter sets ...  (141638, 'You moving near #Biden ü§î https://t.co/1F6i1YIJ2P', 0.0, 0.0, 'Twitter for iPhone', 39.9527237, -75.16352619999998, 'Philadelphia', 'PA', 'Biden', '11/08/2020', '23:56:21'), (141639, '@FLOTUS I‚Äôm excited to have a FLOTUS whose vagina I haven‚Äôt seen on twitter... #biden', 0.0, 0.0, 'Twitter for iPhone', 38.8949924, -77.0365581, 'Washington', 'DC', 'Biden', '11/08/2020', '23:58:24'))
2021-02-06 14:01:55,851 INFO sqlalchemy.engine.base.Engine COMMIT